{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ legend }}</legend>
                <div class="form-group">
                    {{ form.blood_pressure.label(class="form=control-label") }}
                    {% if form.blood_pressure.errors %}
                        {{ form.blood_pressure(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.blood_pressure.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.blood_pressure(class="form-control form-control-lg") }}
                    {% endif%}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>

   <a class="mr-2 mb-3 btn btn-primary" href="{{ url_for('download_data', email=current_user.email, record_type=title) }}">Download Data</a>

    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('user_account', email=post['author']) }}">{{ post['author'] }}</a>
              <small class="text-muted">{{ post['date_posted'] }}</small>
            </div>
            <p class="article-content">{{ post['record'] }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}
