{% extends "layout.html" %}
{% block content %}
    {% for post in posts %}

<div class="card mb-5">
  <h5 class="card-header"> <a class="mr-2" href="{{ url_for('user_account', email=post['author']) }}">From: {{ post['author']}}</a>
                <a class="mr-2" href="{{ url_for('user_account', email=post['recipient']) }}">To: {{ post['recipient']}}</a></h5>
  <div class="card-body">
 <h5 class="card-title"><a class="article-title" href="{{ url_for('post', post_id=post['id'])}}">{{ post['title'] }}</a></h5>
    <p class="card-text">{{ post['content'] }}</p>
     <a href="{{ url_for('post', post_id=post['id'])}}" class="btn btn-info">View details</a>
  </div>
      <div class="card-footer text-muted">
  Date {{ post['date_posted'] }}
  </div>
</div>

    {% endfor %}
{% endblock content %}
